<header class="header-overwrites">
  <img src="assets/twitch_icon.png" class="twitch-icon" alt="">
  <div class="branding min-width">
    <span id="black-color" class="title black-color semibold">Twitch Vods</span>
  </div>
  <div class="header-nav">
    <div class="nav-link-container">
      <a routerLinkActive="active" [routerLink]="['/discovery']" class="nav-text"><span
          class="black-color">Discovery</span></a>
    </div>
  </div>
  <div class="header-actions">
    <a href="javascript://" class="nav-link nav-icon-text">
      <clr-icon shape="user" id="black-color"></clr-icon>
    </a>
  </div>
</header>
