.twitch-icon {
  height: 60px;
  width: 60px;
  padding: 15px 15px 15px 15px;
}

.branding {
  padding: 0px 0px 0px 0px;
}

.min-width {
  min-width: 110px;
}

.header-overwrites {
  background-color: #FFFFFF;
}

.black-color {
  color: black !important;
}