<header class="header-overwrites">
  <img src="assets/twitch_icon.png" class="twitch-icon" alt="">
  <div class="branding min-width">
    <span class="title black-color">Twitch Vods</span>
  </div>
  <div class="header-nav">
    <a routerLinkActive="active" [routerLink]="['/discovery']" class="nav-link"><span
        class="nav-text black-color">Discovery</span></a>
  </div>
  <div class="header-actions">
    <a href="javascript://" class="nav-link nav-icon-text">
      <clr-icon shape="user" class="black-color"></clr-icon>
    </a>
  </div>
</header>