.twitch-icon {
  height: 60px;
  width: 60px;
  padding: 15px 15px 15px 15px;
}

.branding {
  padding: 0px 0px 0px 0px;
}

.min-width {
  min-width: 110px;
}

.header-overwrites {
  background-color: #FFFFFF;
}

#black-color {
  color: black !important;
}

a:hover span {
  color: #772CEC !important;
}

span {
  color: #772CEC !important;
}

// TODO: add dynamic border bottom
.nav-text {
  font-size: .8rem;
  border-bottom: 2px solid #772CE8;
  display: flex;
  text-decoration: none;
}

.nav-link-container {
  display: flex;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

span {
  align-self: center;
}
