img {
  border-radius: 50%;
  padding: 5px 7px 7px 10px;
  max-height: 42px;
  min-width: 50px;
}

.users-container {
  display: flex;
  max-height: 42px;
  align-content: center;
  align-self: flex-start;
  text-decoration: none;
}

.user-text-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

a:hover {
  background: #E6E6EA;
  color: #E6E6EA;
}
